<h2>{{ isNewUser ? 'Adicionar' : 'Editar' }} Usuário</h2>
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nome:</label>
    <input type="text" id="name" [(ngModel)]="user.name" name="name" required>
  </div>

  <div>
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" [(ngModel)]="user.cpf" name="cpf" required>
  </div>

  <div>
    <label for="photo">Foto URL:</label>
    <input type="text" id="photo" [(ngModel)]="user.photo" name="photo" required>
  </div>

  <button type="submit">Salvar</button>
</form>
