<h2>{{user.id ? 'Editar' : 'Adicionar'}} Usuário</h2>
<form (ngSubmit)="onSubmit()">
  <label for="name">Nome:</label>
  <input type="text" id="name" [(ngModel)]="user.name" name="name" required>

  <label for="cpf">CPF:</label>
  <input type="text" id="cpf" [(ngModel)]="user.cpf" name="cpf" required>

  <label for="photo">Foto URL:</label>
  <input type="text" id="photo" [(ngModel)]="user.photo" name="photo" required>

  <button type="submit">{{user.id ? 'Atualizar' : 'Salvar'}}</button>
</form>
